body {
	background: url("http://www.wallpapereast.com/static/images/6840652-pattern-wallpaper.jpg");
	background-size: cover; 
}
img {
	width: 30%;
	/*to remove the gutter space; regain control*/
	float: left; 
	margin: 1.33%;
	border: 2px solid #e1e1e2;
}


p {
	color: #e3e3e3;
	font-family: Raleway, sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 800;
	border-bottom: 15px double #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}
